<?xml version="1.0" encoding="utf-8"?>
<Archimedes>
	<ApplicationSettings>
		<ApplicationName>ArchimedesCMS</ApplicationName>
		<ApplicationTimeout>
			<Days>0</Days>
			<Hours>0</Hours>
			<Minutes>0</Minutes>
			<Seconds>0</Seconds>
		</ApplicationTimeout>
		<SetClientCookies>False</SetClientCookies>
		<ShowDebugSettings>False</ShowDebugSettings>
	</ApplicationSettings>
	<SiteSettings>
		<CfcPath>/cfc</CfcPath>
		<SiteID>1</SiteID>
		<UrlRoot>/</UrlRoot>
		<HelperPath>/helpers</HelperPath>
		<CustomTagPaths>/CustomTags/</CustomTagPaths>
		<QuarantinePath>D:\WebQuarantine</QuarantinePath>
	</SiteSettings>
	<DataSettings>
		<DatasourceName>ArchimedesCMS</DatasourceName>
		<CachedWithin>
			<Days>0</Days>
			<Hours>0</Hours>
			<Minutes>0</Minutes>
			<Seconds>0</Seconds>
		</CachedWithin>
		<RevisionDataSourceName>Herodotus</RevisionDataSourceName>
	</DataSettings>
</Archimedes>